<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
{#
#}
	<head>
{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% block head_title %}
		<title>{% if PageData.getCss %}{{ PageData.getHeader('title') }} - {% endif %}Site Name</title>
{% endblock %}
		<meta name="description" content="{{ PageData.getHeader('description') }}">
		<meta name="keywords" content="{{ PageData.getHeader('keywords')|join(',') }}">
        <meta name="viewport" content="width=device-width">
		<meta name="author" href="/humans.txt">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
{% block head_css_link %}
		{{ PageData.getCssLinkString|raw }}
{% endblock %}
{% block head_javascript_link %}
		{{ PageData.getJavascriptLinkString|raw }}
{% endblock %}
{% block head_css %}
{% if PageData.getCss %}
		<style type="text/css">
{{ PageData.getCss|raw }}
		</style>
{% endif %}
{% endblock %}
{% block head_javascript %}
{% if PageData.getJavascript %}
		<script type="text/javascript" language="javascript">
{{ PageData.getJavascript|raw }}
		</script>
{% endif %}
{% endblock %}
{% endblock %}
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
				.ie9-gradient {
					filter: none;
				}
			</style>
		<![endif]-->
		<div id="alert-strip" class="ie9-gradient">
			<p>Alert Here</p>
		</div>
		<div id="site-wraper">
			<div id="site-backdrop">
			</div>
			<div class="page-width">
{% block header %}
				<header>
					<a class="site-logo" href="/"></a>
				</header>
{% endblock %}
{% block nav_horz %}
{% include "Components/Modules/NavigationHorizontal.twig" %}
{% endblock %}
{% block page_body %}
				<div id="page-body">
{% include "Components/Modules/AlertBox.twig" %}
{% block article_main %}
					<article>
{% block article_main_content %}
{{ PageData.getContent('main')|raw }}
{% endblock %}
					</article>
{% endblock %}
				</div>
{% endblock %}
{% block footer %}
				<footer>
					<div id="site-footer">
						<div class="site-logo"></div>
					</div>
				</footer>
{% endblock %}
			</div>
		</div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	</body>
</html>