				<nav class="horizontal">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/services"></a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
