{% extends "Base/Site.twig" %}

{% block article_main_content %}
						<h1 style="text-align: center;">Site Name</h1>
						<hr />
						<p>We are currently working on connecting all the pieces and polishing all the surfaces.</p>
{{ PageData.getContent('main')|raw }}
{% endblock %}
