{% extends "Base/Site.twig" %}

{% block head_title %}
		<title>Server Error - Site Name</title>
{% endblock %}

{% block head_css %}
		<style type="text/css">
{{ PageData.getCss|raw }}
			::-moz-selection {
				background: #b3d4fc;
				text-shadow: none;
			}

			::selection {
				background: #b3d4fc;
				text-shadow: none;
			}

			h1 {
				margin: 0 10px;
				font-size: 50px;
				text-align: center;
			}

			h1 span {
				color: #bbb;
			}

			h3 {
				margin: 1.5em 0 0.5em;
			}

			p {
				margin: 1em 0;
			}

			ul {
				padding: 0 0 0 40px;
				margin: 1em 0;
			}
        </style>
{% endblock %}

{% block article_main_content %}
						<h1>Server Error <span>:(</span></h1>
						<p>Sorry, but there seems to be something wrong with our system.  Please be assured, we're working diligently to locate and resolve this issue.</p>
{{ PageData.getContent('main')|raw }}
{% endblock %}
